{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<h4 style="color: #5cb85c; font-weight: 700; font-size: 30px;" class="card-title mb-4 m-5 text-center">Add Category
</h4>

<body style="background-color: #E5E5E5;">
    <div style="width:50%; margin-top:50px; background-color:#fff" class="col-12 p-5 container">

        <form id="myform" action="{% url 'addcategory' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h4 style="color: #5cb85c;" class="card-title mb-4 mt-3">Category Name</h4>
                <input class="form-control" {{ form.category_name }} 
                
            </div>
            <div class="form-group">
                <h4 style="color: #5cb85c;" class="card-title mb-4 mt-3">Category Description</h4>
                {{ form.description }}
            </div>
        </form>
        <div class="pt-5">
            <button type="submit" id="btn-submit" form="myform" class="btn btn-primary">ADD CATEGORY</button>
            <!-- <input class="btn btn-danger" type="submit" value="Update"> -->
            <a class="btn btn-primary" href="">cancel</a>
        </div>

        </form>
    </div>
    <style>
        .error{
            color:red !important;
        }
    </style>
    <script>
        $(document).on('click', '#btn-submit', function (e) {
            e.preventDefault();
            swal({
                title: "Do you want to Add ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (result) {
                if (result) {
                    $('#myform').submit();
                }

            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<script>
    $(document).ready(()=>{
        $("#myform").validate({
            rules:{
                category_Name:{
                    required:true,
                },
                description:{
                    required:true,
              },
            }
            })
        })
</script>
</body>

</html>