{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}
<!-- Google Tag Manager (noscript) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <h1 style="color: #5cb85c;"><b>JAI KISAN</b></h1>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_list' %}">
                            <b >User Management</b>
                        </a>
                    </a>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b>Store Management</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'Product_list' %}">Product List</a>
                          <a class="dropdown-item" href="{% url 'addProduct' %}">Add Product</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'category_list' %}">Category list</a>
                          <a class="dropdown-item" href="{% url 'addcategory' %}">Category list</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b>Order Management</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'order_list' %}">Active Orders</a>
                          <a class="dropdown-item" href="{% url 'order_history' %}">Orders History</a>
                          <div class="dropdown-divider"></div>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b>Offer Management</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'product_offer' %}">Product Offer</a>
                          <a class="dropdown-item" href="{% url 'add_productoffer' %}">Add product Offer</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'category_offer' %}">Category Offer</a>
                          <a class="dropdown-item" href="{% url 'add_categoryoffer' %}">Add category Offer</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b>Banner Management</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'banner_list' %}">Banner List</a>
                          <a class="dropdown-item" href="{% url 'add_banner' %}">Add Banner</a>
                        </div>
                      </li>
                      
                      
                  
                </ul>
                
            </div>
        </div>
    </div>
</nav>
<div class="main-content" id="panel">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b class="navbar-brand" style="justify-content: end;" >{{ user.username }}</b>
        <a  href="{% url 'admin_dashboard' %}"><b>Dashboard</b></a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
          </ul>

        </div>
      </nav>
    

    {% endblock %}