{% load static %}
{% include 'adminpanel/nav.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'admincss/admin_home.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title></title>
</head>

<body>
    <div class="header ">
        <div class="align-items-">
            <div class="px-2 col-lg-12 col-7">
                <div class="mb-2 d-flex justify-content-between align-items-center">
              </div>
                <div class="table-responsive">

                    <div class="card-header bg-white border-bottom-0 py-4 d-flex justify-content-between">
                        <div class="card p-5" style="background-color: #fff;">
                          <h4 class="mb-0"> Sales Report : {{month_now}}</h4>
                        </div>
                        <div class="card p-5">
                          <h5>Total Revenue :₹ {{total_revenue|floatformat:0}}</h5>
                          
                        </div>
                        <div class="card p-5">
                          <h5>Total Profit :₹ {{total_profit|floatformat:0}}</h5>
                        </div>
                        <div class="">
                          <a style="margin-top: 50px;" href="{% url 'download_product_sales_report'%}" class="btn btn-info">Download csv</a>
                        </div>
                      </div>
                    <table id="table" class="display">
                        <thead>

                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>category</th>
                                <th>Product</th>
                                <th>Sold</th>
                                <th>Revenue Recieved</th>
                                <th>Profit</th>
                                <th>Stocks Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in products %}
                          <tr >
                              <td>{{forloop.counter}}</td>
                            <td class="align-middle" > 
                                    <img style="width: 80px;height: 60px;" src="{{x.images_one.url}}" alt="">
                            </td>
                            <td class="align-middle">{{x.p_category}}</td>
                            
                            <td class="align-middle">
                                <b>{{ x.product_name }}</b>
                            </td>
                            {% if x.get_count%}
                            <td class="align-middle">{{x.get_count.0.quantity}} products</td>
                            {% else %}
                            <td class="align-middle">None</td>
                            {% endif %}
                            
                            {% if x.get_count%}
                            <td class="align-middle">₹ {{x.get_revenue.0.revenue |floatformat:0 }}</td>
                            {% else %}
                            <td class="align-middle">None</td>
                            {% endif %}
                            {% if x.get_count%}
                            <td class="align-middle">₹ {{x.get_profit | floatformat:0 }}</td>
                            {% else %}
                            <td class="align-middle">None</td>
                            {% endif %}
                            <td class="align-middle ml-2">{{x.stock}} Remaining</td>
                           
                            
                          </tr>
                         {% endfor %}
            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

</body>

</html>