
{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<h4 style="color: #5cb85c; font-weight: 700; font-size: 30px;" class="card-title mb-4 m-5 text-center">Add Category
</h4>

<body style="background-color: #E5E5E5;">
    <div style="width:50%; margin-top:50px; background-color:#fff" class="col-12 p-5 container">

        
        
        <div class="pt-5">
            <button type="submit" id="btn-submit" form="myform" class="btn btn-primary">ADD CATEGORY</button>
            <!-- <input class="btn btn-danger" type="submit" value="Update"> -->
            <a class="btn btn-primary" href="">cancel</a>
        </div>

        </form>
    </div>
    <script>
        $(document).on('click', '#btn-submit', function (e) {
            e.preventDefault();
            swal({
                title: "Do you want to Add ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (result) {
                if (result) {
                    $('#myform').submit();
                }

            });
        });
    </script>
</body>

</html>
{% endblock %}