{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
<link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Amore_vert%3A">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% include 'includes/header.html' %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item" href="{% url 'profile' %}"> Profile </a>
                    <a class="list-group-item" href="{% url 'my_orders' %}"> My order</a>
                    <a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
                    <a class="list-group-item active" href="{% url 'address_management' %}"> Address Management </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span
                        class="text">Logout</span> </a>
            </div>
            <div class="col-md-9">
                <form id="myform" action="{{ edit_address }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="justify-content-center">
                        <div class="card card-custom pb-4">
                            <div class="card-body mt-0 mx-5">
                                <div class="text-center mb-3 pb-2 mt-3">
                                    <h4 style="color: #495057 ;">Delivery Address</h4>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example1">Name</label>
                                            <!-- <input type="text" value="{{ form.name }}" name="name" class="form-control input-custom" /> -->
                                            {{form.name}}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example2">phone Number</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example3">Address</label>
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example4">City</label>
                                            {{ form.city }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example6">State</label>
                                            {{ form.state }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="typeEmail">Locality</label>
                                            {{ form.locality }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example6">Landmark</label>
                                            {{ form.landmark }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="typeEmail">Pincode</label>
                                            {{ form.pincode }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="form9Example6">alternate_phone</label>
                                            {{ form.alternate_phone }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <label class="form-label" for="typeEmail">Address type</label><br>
                                            {{ form.type }}
                                        </div>
                                    </div>
                                </div>

                                <div class="float-end ">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-rounded"
                                        style="background-color: #0062CC ;">Place order</button>
                                </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    <script>
        $(document).on('click', '#btnsubmit-', function (e) {
            e.preventDefault();
            swal({
                title: "Do you want to update ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (result) {
                if (result) {
                    $('#myform').submit();
                }

            });
        });
    </script>
    </div>
    </div>
</section>
<style>
    .dpjmKp:hover ._1UHYca {
        display: block;
    }

    ._1UHYca {
        z-index: 1;
        white-space: nowrap;
        display: none;
        position: absolute;
        font-size: 14px;
        color: #878787;
        border: 1px solid rgba(0, 0, 0, .05);
        box-shadow: 0 6px 6px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 18%);
        right: 23px;
        border-radius: 3px;
        top: 10px;
    }
</style>




</body>

</html>


{% endblock %}