{% extends 'base.html' %}

{% load static %}

{% block content %}



{% include 'includes/header.html' %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 pb-5">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item" href="{% url 'profile' %}"> Profile </a>
                    <a class="list-group-item active" href="{% url 'my_orders' %}"> My order</a>
                    <a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
                    <a class="list-group-item" href="{% url 'address_management' %}"> Address Management </a>
                </ul>
                <br>
                <a class="btn btn-danger btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Logout</span> </a>
                <!--   SIDEBAR .//END   -->
            </div>
            <div class="col-md-9 col-sm-12">
                {% if orderproduct %}
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">image</th>
                            <th scope="col">Product</th>
                            <th scope="col">quantity</th>
                            <th scope="col">price</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in orderproduct %}
                        <tr>
                            <td>
                                <div>
                                <img src="{{ x.product.images_one.url }}" height="50px" width="50px">
                                </div></td>
                            <td><a href="{{ x.product.get_url }}">{{ x.product.product_name }}</a></td>
                            <td>{{ x.quantity }}</td>
                            <td>{{ x.product_price }}</td>
                            {% if x.status == 1 %}
                            <td>Order Accepted<br><small>{{ x.created_at }}</small></td>
                            {% elif x.status == 2 %}
                            <td>Shipped<br><small>{{ x.created_at }}</small></td>
                            {% elif x.status == 3 %}
                            <td>Out for delivery <br><small>{{ x.created_at }}</small></td>
                            {% elif x.status == 4 %}
                            <td>Order delivered<br><small>{{ x.created_at }}</small></td>
                            {% else %}
                            <td>Order Cancelled<br><small></small></td>
                            {% endif %}
                            {% if x.status == 4 %}
                            <td><a class="btn btn-primary" href="">Delivered</a></td>
                            {% elif x.status == 0 %}
                            <td><a class="btn btn-primary" href="">Order Cancelled</a></td>
                            {% else %}
                            <td><a class="btn btn-danger" href="{% url 'cancel_order' x.order.id %}">Cancel</a></td>
                            {% endif %}
                            <td><a href="{% url 'orderdetails' x.id %}">Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="p-5">
                    <div class="text-center">
                        <h3>you don't purcahse anything please purcahse</h3><br>
                        <a href="{% url 'store' %}" class="btn btn-success">Shop Now</a>
                </div>
                {% endif %}
            <!-- <div>
                {% for x in orderproduct %}
				<div class="row justify-content-around  shadow p-3 align-items-center mb-2" >
					<div class="col-md-3 col-sm-4 col-4">
						<div>
							<a href="{{ x.product.get_url }}" class="title text-dark">{{ x.product.product_name }}</a>
							<p class="small text-muted">{{ x.product.p_category }}</p>
							<img src="{{ x.product.images_one.url  }}" class="img-sm">
						</div>
					</div>
					<div class="col-md-1 col-sm-1 col-1" >
                                <b>{{x.quantity}}</b>
					</div>
                    <div class="col-md-4 col-sm-4 col-4 row">
                        {% if x.status == 1 %}
                            <b>Order Accepted<br><small>{{ x.created_at }}</small></b>
                            {% elif x.status == 2 %}
                            <b>Shipped<br><small>{{ x.created_at }}</small></b>
                            {% elif x.status == 3 %}
                            <b>Out for delivery <br><small>{{ x.created_at }}</small></b>
                            {% elif x.status == 4 %}
                            <b>Order delivered<br><small>{{ x.created_at }}</small></b>
                            {% else %}
                            <b>Order Cancelled<br><small></small></b>
                            {% endif %}
                            {% if x.status == 4 %}
                            <b><a class="btn btn-primary" href="">Delivered</a></b>
                            {% elif x.status == 0 %}
                            <b><a class="btn btn-primary" href="">Order Cancelled</a></b>
                            {% else %}
                            <b><a class="btn btn-danger" href="{% url 'cancel_order' x.order.id %}">Cancel</a></b>
                            {% endif %}
                    </div> -->
					
				</div>
				{% endfor %}
			</div>
            </div> <!-- row.// -->
        </div> <!-- card-body .// -->

    </div>


</section>





{% include 'includes/footer.html' %}
</body>

</html>


{% endblock %}