

<header class="section-header">

    <section style="background-color:#5cb85c" class="header-main">
        <div class="container align-items-center">
            <nav class="navbar navbar-expand-md navbar-light">
               <h1 class="p-2"><b class="fw-bold text-white">JAI KISAN</b></h1> 
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-between p-3" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="{% url 'home' %}" class="nav-item nav-link text-white">Home</a>
                        <a href="{% url 'store' %}" class="nav-item nav-link text-white">Store</a>
                        <!-- <a href="#" style="color: #fff; font-weight:500; " class="nav-item nav-link">Account</a> -->
                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown " >
                            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Account</a>
                          
                            <div class="dropdown-menu">
                                
                            <a href="{% url 'logout'  %}" style="color: #5cb85c;" class="dropdown-item">Logout</a>
                            <a href="{% url 'profile'  %}" style="color: #5cb85c;" class="dropdown-item">Profile</a>
                            </div>
                            
                        </div>
                        {% endif %}
                        <div class="nav-item dropdown " >
                            <a href="#" style="color: #fff; font-weight:500; " class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                          
                            <div class="dropdown-menu">
                            {% for x in links %}
                            <a href="{{ x.get_url }}" style="color: #5cb85c;" class="dropdown-item">{{ x.category_name }}</a>
                            {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                    <form action="{% url 'search' %}" method="GET" class="form-inline">
                        <div class="input-group">                    
                            <input type="text" class="form-control" placeholder="Search" name="keyword">
                            <div class="input-group-append">
                                <button style="border-color: #fff;" type="submit"  class="btn btn-success"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>

                    {% if user.is_authenticated %}
                        <a  style="color:#FFF" href=""><h4>{{ user.username }}</h4></a>
                    {% else %}
                        <div class="navbar-nav">
                            <a href="{% url 'register' %} " class="nav-item nav-link text-white">Register</a>
                            <a href="{% url 'signin' %} " class="nav-item nav-link text-white">Login</a>
                        </div>
                    {% endif %} 
                    <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
						<div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
						<span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
					</a>   
                </div>
            </nav>
        </div>
        
    </section> <!-- header-main .// -->




</header>
