



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" ></script>
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h4 class="card-title mb-4">You can login with OTP</h4>
            <form action="{% url 'otp' %}" method="POST">
                {% csrf_token %}
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                <input class="m-2 text-center form-control rounded" type="text" name="otp1" id="first" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="text" name="otp2" id="second" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="text" name="otp3" id="third" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="text" name="otp4" id="fourth" maxlength="1" />
                 <input class="m-2 text-center form-control rounded" type="text" name="otp5" id="fifth" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="otp6" id="sixth" maxlength="1" />
                 </div>
            <div class="mt-4"> <button type="submit" class="btn btn-outline-success px-4 validate">Validate</button> </div>
            </form>
            {% include 'includes/alert.html' %} 
        </div>
        <div class="card-2">
            <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a href="" class="text-decoration-none ms-3"onclick="window.location.href = '{% url 'resent_otp' %}' " id="resend">Resend(1/3)</a> </div>
                <p >Resent Otp in:<span class="js-timeout">2:00</span></p>
        </div> <!-- form-group// -->
        </div>

    </div>
    {% include 'includes/footer.html' %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        function OTPInput() {
        const inputs = document.querySelectorAll('#otp > *[id]');
        for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function(event) { if (event.key==="Backspace" ) { inputs[i].value='' ; if (i !==0) inputs[i - 1].focus(); } else { if (i===inputs.length - 1 && inputs[i].value !=='' ) { return true; } else if (event.keyCode> 47 && event.keyCode < 58) { inputs[i].value=event.key; if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode> 64 && event.keyCode < 91) { inputs[i].value=String.fromCharCode(event.keyCode); if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); } } OTPInput(); });
</script>
<style>

    .height-100 {
        height: 100vh
    }
    
    .card {
        width: 400px;
        border: none;
        height: 300px;
        box-shadow: 0px 5px 20px 0px #d2dae3;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center
    }
    
    .card h6 {
        font-size: 20px
    }
    
    .inputs input {
        width: 40px;
        height: 40px
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0
    }
    
    .card-2 {
        background-color: #fff;
        padding: 10px;
        width: 350px;
        height: 100px;
        bottom: -50px;
        left: 20px;
        position: absolute;
        border-radius: 5px
    }
    
    .card-2 .content {
        margin-top: 50px
    }
 
</style>
<script>
let timerOn = true;
console.log("kkijieworjhowiehr");
function timer(remaining) {
  console.log("kkijieworzsdfsdfsdfsdfjhowiehr");
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  m = m < 10 ? "0" + m : m;
  s = s < 10 ? "0" + s : s;

  console.log(m);
  console.log(s);

  document.getElementById("countdown").innerHTML = `Time left: ${m} : ${s}`;
  remaining -= 1;
  if (remaining >= 0 && timerOn) {
    setTimeout(function () {
      timer(remaining);
    }, 1000);``
    document.getElementById("#resend").innerHTML = ``;
    return;
  }
  if (!timerOn) {
    return;
  }
  document.getElementById("resend").innerHTML = `Don't receive the code? <br>
  <a href="verify-otp" class=" btn btn-success">Resend</a>
  `;
  let sub = document.getElementById("submit").remove();

  console.log(sub);
}
timer(120);
</script>


<script>
    var interval;
  
  function countdown() {
    clearInterval(interval);
    interval = setInterval( function() {
        var timer = $('.js-timeout').html();
        timer = timer.split(':');
        var minutes = timer[0];
        var seconds = timer[1];
        seconds -= 1;
        if (minutes < 0) return;
        else if (seconds < 0 && minutes != 0) {
            minutes -= 1;
            seconds = 59;
        }
        else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
  
        $('.js-timeout').html(minutes + ':' + seconds);
  
        if (minutes == 0 && seconds == 0) clearInterval(interval);
    }, 1000);
  }
  
  $(document).ready(function () {
    $('.js-timeout').text("1:00");
    countdown();
    $("#resend").attr("disabled", "disabled");
    setTimeout(function() {
        $("#resend").removeAttr("disabled");      
    }, 60000);
  });
  
  $('#js-resetTimer').click(function () {
    $('.js-timeout').text("1:00");
    clearInterval(interval);
  });
  </script>