{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'includes/header.html' %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="container">

		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				
			  <div class="carousel-item active">
				<a href="{% url 'store' %}"><img class="d-block w-100" src="{% static 'images/banners/banner_static.jpg' %}" alt="First slide"></a>
			  </div>
			  {% for x in banner %}
			  <div class="carousel-item" style="position: relative;">
				  <!-- <p style="position: absolute;">{{ x.description }}</p> -->
				<a href="{% url 'store' %}"><img class="d-block w-100" src="{{ x.image.url }}" alt="Second slide"></a>
			  </div>
			  {% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">

		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-success float-right">See all</a>
			<h3 class="section-title text-success">Popular products</h3>
		</header><!-- sect-heading -->


		<div class="row pb-5">
			{% for x in products %}
			{% if x.averageReview > 2.5 %}

			<div class="col-md-4">
				<div class="card card-product-grid shadow mr-2" style="border:none;" >
					<a href="{{ x.get_url }}" class="img-wrap p-2"> <img src="{{ x.images_one.url }}"> </a>
					<div class="info-wrap pl-4 ">
						<a href="{{ x.get_url }}" class="text-success">{{ x.product_name }}</a><br>
						<span>
							<i class="fa fa-star{% if x.averageReview < 0.5 %}-o{% elif x.averageReview >= 0.5 and x.averageReview < 1 %}-half-o {% endif %}"
								style="color:#ffb503" aria-hidden="true"></i>
							<i class="fa fa-star{% if x.averageReview < 1.5 %}-o{% elif x.averageReview >= 1.5 and x.averageReview < 2 %}-half-o {% endif %}"
								style="color:#ffb503" aria-hidden="true"></i>
							<i class="fa fa-star{% if x.averageReview < 2.5 %}-o{% elif x.averageReview >= 2.5 and x.averageReview < 3 %}-half-o {% endif %}"
								style="color:#ffb503" aria-hidden="true"></i>
							<i class="fa fa-star{% if x.averageReview < 3.5 %}-o{% elif x.averageReview >= 3.5 and x.averageReview < 4 %}-half-o {% endif %}"
								style="color:#ffb503" aria-hidden="true"></i>
							<i class="fa fa-star{% if x.averageReview < 4.5 %}-o{% elif x.averageReview >= 4.5 and x.averageReview < 5 %}-half-o {% endif %}"
								style="color:#ffb503" aria-hidden="true"></i>
						</span>
						<br><b>Rs.{{ x.get_price |floatformat:0 }}/-</b>&emsp;
						{% if x.productoffer.is_active %}
						<del class="price-old">Rs.{{ x.price }}</del>&emsp;<p style="color: green;">Off-{{x.productoffer.discount_offer }}%</p>
						{% elif x.p_category.categoryoffer.is_active %}
						<del class="price-old">Rs.{{ x.price }}</del>&emsp;<p style="color: green;">Off-{{x.p_category.categoryoffer }}%</p>
						{% endif %}
					</div>

				</div>
			</div>
			{% endif %}
			{% endfor %}



		</div> <!-- row.// -->

	</div><!-- container // -->
</section>


</body>

</html>
{% include 'includes/footer.html' %}
{% endblock %}