{% extends 'base.html' %}

{% load static %}
{% block content %}
{% include 'includes/header.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:86vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <form action="{% url 'new_password' %}" id="new_password" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <h6 class="card-title mb-2">Enter Newpassword</h6>
			 <input type="password" class="form-control" placeholder="Password" name="password1" >
          </div> <!-- form-group// -->
          <div class="form-group">
            <h6 class="card-title mb-2">Confirm Password</h6>
			<input type="password" class="form-control" placeholder="Confirm Password" name="password2" >
          </div> <!-- form-group// -->
          <div class="form-group">
              <button type="submit" style="background-color: #5cb85c;" class="btn btn-block" > Login  </button>
          </div> <!-- form-group// -->    
          {% include 'includes/sweet.alert.html' %}
      </form>
      </div> <!-- card-body.// -->
    </div>
    <style>
      .error{
        color:red !important;
      }
    </style> <!-- card .// -->

</section>

    {% include 'includes/footer.html' %}
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<script>
    $(document).ready(()=>{
        $("#new_password").validate({
            rules:{
              password1:{
                    required:true,
                    minlength:8,
                },
              password2:{
                required:true,
                minlength:8,
              }
            }
            })
        })
</script>
{% endblock %}