{% extends 'base.html' %}

{% load static %}

{% block content %}




<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
							<a ><img class="big_img" src="{{ single_product.images_one.url }}"></a>
						</div> <!-- img-big-wrap.// -->

					</article> <!-- gallery-wrap .end// -->
				</aside>
				<main class="col-md-6 border-left">
					<form action="{% url 'add_cart' single_product.id %}" method='POST'>
						{% csrf_token %}
						<article class="content-body">
							<div class="pt-5">
								<h2 class="title mb-3">{{ single_product.product_name }}</h2>
								<div class="rating-star">
									<span>
										<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
								<small>&emsp;{{reviews.count}} reviews</small>
										</span>
								</div>
								<!-- {% for i in single_product.variation_set.reverse|slice:":1" %} -->
								<var class="price h4">Rs.{{ single_product.price }}</var>
								<!-- {% endfor %} -->
							</div>

							<p class="pb-3 pt-3">{{ single_product.description }}</p>


							<hr>
							<div class="row">
								<div class="item-option-select">
									<h6>Choose Age</h6>
									<select name="age" class="form-control">
										<option value="" disabled selected>Choose</option>
										{% for x in single_product.variation_set.all %}
										<option value="{{ x.variation_value }}">{{ x.variation_value }}</option>
										{% endfor %}
									</select>
								</div>
							</div> <!-- row.// -->
							<hr>
							{% if single_product.stock <= 0 %} <span class="text btn btn-danger">Out of stock</span>
								{% else %}
								<button type="submit" style="background-color: #5cb85c; color:#fff;" class="btn"> <span
										class="text">Add
										to
										cart</span> <i class="fas fa-shopping-cart"></i></button>

								{% endif %}
						</article>
					</form>
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->

		<br>

		<div class="row">
			<div class="col-md-9">

				<header class="section-heading">
					<h3>Customer Reviews </h3>
					<div class="rating-star">
						<span>
							<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
					<span>&emsp;{{reviews.count}}&emsp; reviews</span>
							</span>
					</div>
				</header>
				<form action="{% url 'submit_review' single_product.id %}" method="POST">
					{% csrf_token %}
					<h5>Write Your Review</h5>

					<div>
						<!-- Rating stars -->
						<label>How do you rate this product?</label>
						<br>
						<div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
						<br>
						Review Title:
						<input type="text" class="form-control" name="subject">
						<br>
						Review:
						<textarea name="review" rows="4" class="form-control"></textarea>
						<br>
						{% if user.is_authenticated %}
							{% if orderproduct %}
								<input type="submit" value="Submit Review" class="btn btn-primary">
							{% else %}
								<p>You must purchase this product to post a review.</p>
							{% endif %}
						{% else %}
						<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
						{% endif %}

						<!-- {% if user.is_authenticated %}
						<input type="submit" value="Submit Review" class="btn btn-primary">
						{% else %}
						<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
						{% endif %} -->
						<!-- <div class="alert alert-danger" role="alert" style="margin-top:10px;">
							2-Factor Review Submission is disabled for demo purpose.
						</div> -->

					</div>
					{% include 'includes/alert.html' %}
				</form>
				{% for x in reviews %}
				<article class="box mb-3">
					<div class="icontext w-100">
						<img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
						<div class="text">
							<span class="date text-muted float-md-right">{{ x.created_at }}</span>
							<h6 class="mb-1">{{ x.user.username }}</h6>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if x.rating == 0.5 %}-half-o{% elif x.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if x.rating == 1.5 %}-half-o{% elif x.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if x.rating == 2.5 %}-half-o{% elif x.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if x.rating == 3.5 %}-half-o{% elif x.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if x.rating == 4.5 %}-half-o{% elif x.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
							</div>

						</div>
					</div> <!-- icontext.// -->
					<div class="mt-3">
						<p>
							{{ x.review }}
						</p>
					</div>
				</article>
				{% endfor %}



			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

</html>

</body>
<script type="text/javascript">
	$(document).ready(function () {
	  $(".small_img").hover(function () {
		$(".big_img").attr('src', $(this).attr('src'));
	  })
	})
  </script>
<script>
	$(document).ready(function () {
	  $(".big_img").imagezoomsl({
		zoomrange: [1, 1]
	  })
	})
  </script>
</html>

{% endblock %}