{% extends 'base.html' %}

{% load static %}

{% block content %}




<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<section class="section-content padding-y bg">
  <div class="container">

    <div class="row">
      <aside class="col-lg-8">
        <div class="card m-1" style="box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3); transition: 0.3s; opacity: 1;">
          <h5 class="card-header">Delivery Address</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <b class="card-text">{{ order.name }}&emsp;&emsp;{{ order.phone }}</b>
            <p class="card-text"></p>
            <p class="card-text">{{ order.landmark }},{{ order.locality }},{{ order.city }},{{ order.state}}-{{order.pincode }}</p>
            <!-- <a href="#" class="btn btn-success">Go somewhere</a> -->
          </div>
        </div>
        <div class="card m-1" style="box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3); transition: 0.3s; opacity: 1;">
        </div>
        <div class="card m-1" style="box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3); transition: 0.3s; opacity: 1;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col" width="55%">Product</th>
                  <th scope="col" width="25%">Quantity</th>
                  <th scope="col" width="25%">Price</th>

              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside"><img src="{{ cart_item.product.images_one.url }}" class="img-sm">
                      </div>
                      <figcaption class="info">

                        <a href="{{ cart_item.product.get_url }}" class="text-dark">{{
                          cart_item.product.product_name}}</a>
                        {% for item in cart_item.variations.all %}<br>
                        <small class="text-muted">{{ item.variation_value }}</small>
                        {% endfor %}
                      </figcaption>
                    </figure>
                  </td>

                  <td>
                    {{ cart_item.quantity }}
                  </td>
                  <td>
                    <var class="price">Rs.{{ cart_item.sub_total }}/-</var>
                    <small class="text-muted">Rs.{{ cart_item.product.price }}/-</small>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <a href="#" class="btn btn-success">Go somewhere</a> -->
          </div>
        </div>
      </aside> <!-- col.// -->
      <aside class="col-lg-4">

        <div class="card" style="box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3); transition: 0.3s; opacity: 1;">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">Rs.{{total}}/-</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">Rs.{{tax}}/-</dd>
            </dl>
            {% if coupen_discount_price %}
            <dl class="dlist-align">
              <dt>Total savings:</dt>
              <dd style="color: green;" class="text-right">Rs.{{coupen_discount_price |floatformat:0}}/-</dd>
            </dl>
            {% endif %}
            <dl class="dlist-align">
              <dt>Total savings:</dt>
              <dd style="color: green;" class="text-right">Rs.{{total_savings|floatformat:0}}/-</dd>
            </dl>
            <dl class="dlist-align">
              <dt><b>Total:</b></dt>
              <dd class="text-right text-dark b"><strong>Rs.{{grand_total|floatformat:0}}/-</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png' %}" height="26">
            </p>
            <div id="paypal-button-container">
              <!-- paypal button will load -->
            </div>
            <!-- razor pay -->
            <div>
              <button id="rzp-button1" class="btn btn-block btn-outline-success p-2">Razorpay</button>
            </div>
            <div class="mt-2">
              <a class="btn btn-block btn-danger p-2" href="{% url 'cash_on_delivery' %}">Cash On Delivery</a>
            </div>

            <script>
              function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              let amounts= "{{ grand_total }}"

                document.getElementById('rzp-button1').onclick = function (e) {
                  rzp1.open();
                  e.preventDefault();
                }

              var options = {
                "key": "{{ RZORPAY_API_KEY }}", // Enter the Key ID generated from the Dashboard
                "amount": amounts, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Jai Kisan",
                "description": "Payment",
                "order_id": "{{ payment_order_id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 2
                "handler": function (response) {

                  $.ajax({
                    type: 'POST',
                    url: "{% url 'razorpay_payment_verification' %}",
                    dataType: 'json',
                    data: {
                      csrfmiddlewaretoken: csrftoken,
                      razorpay_payment_id: response.razorpay_payment_id,
                      razorpay_order_id: response.razorpay_order_id,
                      razorpay_signature: response.razorpay_signature,
                    },
                    success: function (data) {
                      console.log(data)
                      if (data.message === 'success') {

                        window.location.replace("{% url 'order_complete' %}")
                      } else {
                        window.location.replace("payment_failed")
                      }
                    }
                  })
                },
                "prefill": {
                  "name": "{{ request.user.name }}",
                  "email": "{{ request.user.email }}",
                  "contact": "{{ request.user.phone_number }}"
                },
                "theme": {
                  "color": "#3399cc"
                }
              };
              var rzp1 = new Razorpay(options);
              rzp1.on('payment.failed', function (response) {
                window.location.replace("{% url 'payment_failed' %}")
              });
            </script>
          </div>
        </div> <!-- card-body.// -->
    </div> <!-- card.// -->
    </aside>



  </div> <!-- row.// -->
  </div> <!-- container .//  -->
</section>
</body>
<script>



  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var amount = "{{ paypal_amount }}"
  var url = "{% url 'payments' %}"
  var csrftoken = getCookie('csrftoken');
  var orderID = "{{order.order_number}}"
  var payment_method = 'PayPal'
  var redirect_url = "{% url 'order_complete' %}"
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({

    style: {
      color: 'blue',
      shape: 'rect',
      label: 'pay',
      height: 40
    },

    // Set up the transaction
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: amount,
          }
        }]
      });
    },

    // Finalize the transaction
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        // Show a success message to the buyer
        console.log(details);
        sendData();
        function sendData() {
          fetch(url, {
            method: "POST",
            headers: {
              "Content-type": "application/json",
              "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
              orderID: orderID,
              transID: details.id,
              payment_method: payment_method,
              status: details.status,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
            });
        }
      });
    }


  }).render('#paypal-button-container');



</script>

</html>
{% endblock %}